# Workshop 2 - Transformations

#### Read the data from the origin: MLA_100k.jsonlines file and see its structure

In [11]:
import os
from dotenv import load_dotenv
import pandas as pd

# Load environment variables
load_dotenv()

resources_path = os.getenv("RESOURCES_PATH")
print(f"RESOURCES_PATH: {resources_path}")

transformed_csv_filename = "transformed.csv"

if not resources_path:
    raise ValueError("RESOURCES_PATH no está definido en el .env")


mla_filename = "MLA_100k.jsonlines"
df_mla = pd.read_json(f"{resources_path}/{mla_filename}", lines=True)

RESOURCES_PATH: /Users/kserver-laptop/Documents/Obsidian Vault/UAO/Maestría en Inteligencia Artificial y Ciencia de Datos/ETL/Week 5/Class 9/Material/Workshop2/workshop-002-transform/src/main/resources

#### Show columns types

In [12]:
df_mla.info(47)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   seller_address                    100000 non-null  object
 1   warranty                          39104 non-null   object
 2   sub_status                        100000 non-null  object
 3   condition                         100000 non-null  object
 4   seller_contact                    2219 non-null    object
 5   deal_ids                          100000 non-null  object
 6   base_price                        100000 non-null  float64
 7   shipping                          100000 non-null  object
 8   non_mercado_pago_payment_methods  100000 non-null  object
 9   seller_id                         100000 non-null  int64
 10  variations                        100000 non-null  object
 11  location                          100000 non-null  object
 12  site_id                           100000 non-null  object
 13  listing_type_id                   100000 non-null  object
 14  price                             100000 non-null  float64
 15  attributes                        100000 non-null  object
 16  buying_mode                       100000 non-null  object
 17  tags                              100000 non-null  object
 18  listing_source                    100000 non-null  object
 19  parent_item_id                    76989 non-null   object
 20  coverage_areas                    100000 non-null  object
 21  category_id                       100000 non-null  object
 22  descriptions                      100000 non-null  object
 23  last_updated                      100000 non-null  object
 24  international_delivery_mode       100000 non-null  object
 25  pictures                          100000 non-null  object
 26  id                                100000 non-null  object
 27  official_store_id                 818 non-null     float64
 28  differential_pricing              0 non-null       float64
 29  accepts_mercadopago               100000 non-null  bool
 30  original_price                    143 non-null     float64
 31  currency_id                       100000 non-null  object
 32  thumbnail                         100000 non-null  object
 33  title                             100000 non-null  object
 34  automatic_relist                  100000 non-null  bool
 35  date_created                      100000 non-null  object
 36  secure_thumbnail                  100000 non-null  object
 37  stop_time                         100000 non-null  datetime64[ns, UTC]
 38  status                            100000 non-null  object
 39  video_id                          2985 non-null    object
 40  catalog_product_id                11 non-null      float64
 41  subtitle                          0 non-null       float64
 42  initial_quantity                  100000 non-null  int64
 43  start_time                        100000 non-null  datetime64[ns, UTC]
 44  permalink                         100000 non-null  object
 45  geolocation                       100000 non-null  object
 46  sold_quantity                     100000 non-null  int64
 47  available_quantity                100000 non-null  int64
dtypes: bool(2), datetime64[ns, UTC](2), float64(7), int64(4), object(33)
memory usage: 35.3+ MB

#### Show dimensions

In [13]:
 # Column types
print(f"Dataset dimensions: {df_mla.shape}")
df_mla.head()  # First rows

Dataset dimensions: (100000, 48)

,seller_address,warranty,sub_status,condition,seller_contact,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,...,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,geolocation,sold_quantity,available_quantity
0,"{'comment': '', 'longitude': -58.3986709, 'id'...",None,[],new,None,[],80.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",74952096,...,active,None,NaN,NaN,1,2015-09-05 20:42:53+00:00,http://articulo.mercadolibre.com.ar/MLA-578052...,"{'latitude': -34.6280698, 'longitude': -58.398...",0,1
1,"{'comment': '', 'longitude': -58.5059173, 'id'...",NUESTRA REPUTACION,[],used,None,[],2650.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",42093335,...,active,None,NaN,NaN,1,2015-09-26 18:08:30+00:00,http://articulo.mercadolibre.com.ar/MLA-581565...,"{'latitude': -34.5935524, 'longitude': -58.505...",0,1
2,"{'comment': '', 'longitude': -58.4143948, 'id'...",None,[],used,None,[],60.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",133384258,...,active,None,NaN,NaN,1,2015-09-09 23:57:07+00:00,http://articulo.mercadolibre.com.ar/MLA-578780...,"{'latitude': -34.6233907, 'longitude': -58.414...",0,1
3,"{'comment': '', 'longitude': -58.4929208, 'id'...",None,[],new,None,[],580.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",143001605,...,active,None,NaN,NaN,1,2015-09-28 18:47:56+00:00,http://articulo.mercadolibre.com.ar/MLA-581877...,"{'latitude': -34.6281894, 'longitude': -58.492...",0,1
4,"{'comment': '', 'longitude': -58.5495042, 'id'...",MI REPUTACION.,[],used,None,[],30.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",96873449,...,active,None,NaN,NaN,1,2015-08-24 22:07:20+00:00,http://articulo.mercadolibre.com.ar/MLA-576112...,"{'latitude': -34.6346547, 'longitude': -58.549...",0,1

#### Columns Describe

In [14]:
df_mla.describe()

,base_price,seller_id,price,official_store_id,differential_pricing,original_price,catalog_product_id,subtitle,initial_quantity,sold_quantity,available_quantity
count,1.000000e+05,1.000000e+05,1.000000e+05,818.000000,0.0,143.000000,1.100000e+01,0.0,100000.000000,100000.000000,100000.000000
mean,5.252423e+04,8.425269e+07,5.252433e+04,206.443765,NaN,1593.341958,3.727643e+06,NaN,35.093370,2.396990,34.842380
std,8.623127e+06,5.497257e+07,8.623127e+06,128.252953,NaN,2245.798072,1.884698e+06,NaN,421.076196,42.685077,420.808403
min,8.400000e-01,1.304000e+03,8.400000e-01,1.000000,NaN,120.000000,9.440400e+04,NaN,1.000000,0.000000,1.000000
25%,9.000000e+01,3.953591e+07,9.000000e+01,84.000000,NaN,449.000000,3.050702e+06,NaN,1.000000,0.000000,1.000000
50%,2.500000e+02,7.631063e+07,2.500000e+02,216.000000,NaN,858.000000,5.093232e+06,NaN,1.000000,0.000000,1.000000
75%,8.000000e+02,1.325659e+08,8.000000e+02,312.750000,NaN,1500.000000,5.103216e+06,NaN,2.000000,0.000000,2.000000
max,2.222222e+09,1.946906e+08,2.222222e+09,446.000000,NaN,13999.000000,5.434513e+06,NaN,9999.000000,8676.000000,9999.000000

#### Remove columns without any data or with a lot of nulls values

In [17]:
df_mla.drop([
    'differential_pricing', 
    'subtitle', 
    'catalog_product_id', 
    'original_price', 
    'video_id', 
    'seller_contact', 
    'official_store_id'
], axis=1, inplace=True)

df_mla.describe()

KeyError: "['differential_pricing', 'subtitle', 'catalog_product_id', 'original_price', 'video_id', 'seller_contact', 'official_store_id'] not found in axis"

#### Create methods to transform data

In [ ]:
def transform_warranty(condition, warranty):
    """
    Transforms the warranty field to a standard format
    condition: str - The condition of the product (new, used)
    warranty: str - The warranty of the product (3 meses, 6 meses, 1 año, etc)
    return: str - The warranty of the product in a standard format (Yes, No)
    """
    if (condition == "new"):
        pass

#### Create new transformed file structure

In [ ]:
# Extract required fields
df_transformed = pd.DataFrame({
    "condition": df_mla["condition"],
    "warranty": df_mla["warranty"].apply(lambda x: "No" if x is None or x == "" else "Yes"),
    "listing_type_id": df_mla["listing_type_id"],
    "price": df_mla["price"].astype(float),
    "buying_mode": df_mla["buying_mode"],
    "accepts_mercadopago": df_mla["accepts_mercadopago"].astype(bool),
    "automatic_relist": df_mla["automatic_relist"].astype(bool),
    "status": df_mla["status"],
    "seller_address_longitude": df_mla["seller_address"].apply(lambda x: x.get("longitude", None)),
    "seller_address_latitude": df_mla["seller_address"].apply(lambda x: x.get("latitude", None)),
    "shipping_local_pick_up": df_mla["shipping"].apply(lambda x: x.get("local_pick_up", False)),
    "shipping_free_shipping": df_mla["shipping"].apply(lambda x: x.get("free_shipping", False)),
    "shipping_mode": df_mla["shipping"].apply(lambda x: x.get("mode", None)),
})



# Save as CSV
df_transformed.to_csv(f"{resources_path}/{transformed_csv_filename}", index=False, encoding="utf-8")

print(f"Transformed CSV file saved at: {transformed_csv_filename}")